        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
            color: #fff;
            font-family: 'Bricolage Grotesque', sans-serif;
            transition: 0.4s;
        }

        html,
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            height: 100vh;
            background: transparent;
            text-align: center;
            overflow-y: auto;
        }

        h1 {
            font-size: 4rem;
            color: #000;
            margin-bottom: 1rem;
        }

        .gradient-text {
            background: linear-gradient(90deg, rgb(255, 124, 1), rgb(255, 0, 0), #ff0088);
            background-size: 400% 400%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
            animation: neonSwipe 33s linear infinite;
        }

        section {
            background-size: 400% 400%;
            display: inline-block;
            animation: neonSwipe 33s linear infinite;
            margin-top: 5%;
        }

        p {
            font-weight: 600;
            color: #000;
            margin-top: 10px;
        }

        .icons {
            display: flex;
            justify-content: center;
            gap: 1rem;
            margin-top: 2rem;
        }

        .Windows,
        .IOS {
            user-select: none;
            -webkit-user-drag: none;
        }

        .Windows {
            width: 43px;
        }

        .IOS {
            width: 70px;
        }

        @keyframes neonSwipe {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        span p {
            position: absolute;
            z-index: -1;
            left: 25%;
            top: 80%;
        }

        @keyframes bgMove {
            0% {
                transform: translateX(-50%) translateX(0);
            }

            50% {
                transform: translateX(-50%) translateX(200px);
            }

            100% {
                transform: translateX(-50%) translateX(0);
            }
        }

        .rain {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: 1;
            pointer-events: none;
        }

        .rain li {
            position: absolute;
            display: block;
            width: 4px;
            height: 40px;
            background: #00aaff;
            opacity: 0.7;
            bottom: 100%;
            animation: drop linear infinite;
            border-radius: 2px;
        }

        @keyframes drop {
            0% {
                transform: translateY(0);
                opacity: 0;
            }

            10% {
                opacity: 1;
            }

            100% {
                transform: translateY(110vh);
                opacity: 0;
            }
        }

        .skin {
            width: 200px;
            margin-left: -159px;
        }